<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>
            Name
        </th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of (employees | async)">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>
          <a (click)="setEmployeeInSession(item)"  [routerLink]="['timesheet']">
              {{item.name}}
          </a>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>
