<form (ngSubmit)="onSubmit()" #f="ngForm">
<table>
  <tr>
    <td>
      Task
    </td>
    <td>
      <select id="ddlTasks" name="ddlTasks" #ddlTasks ngModel>
        <option *ngFor="let item of (tasks | async)" [value]="item.id">
          {{item.name}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      Sunday
    </td>
    <td>
      <input type="text" id="txtSunday" name="txtSunday" #txtSunday ngModel>
    </td>
  </tr>
  <tr>
      <td>
        Monday
      </td>
      <td>
        <input type="text" id="txtMonday" name="txtMonday" #txtMonday ngModel>
      </td>
    </tr>
    <tr>
        <td>
          Tuesday
        </td>
        <td>
          <input type="text" id="txtTuesday" name="txtTuesday" #txtTuesday ngModel>
        </td>
      </tr>
      <tr>
          <td>
            Wednesday
          </td>
          <td>
            <input type="text" id="txtWednesday" name="txtWednesday" #txtWednesday ngModel>
          </td>
        </tr>
        <tr>
            <td>
              Thursday
            </td>
            <td>
              <input type="text" id="txtThursday" name="txtThursday" #txtThursday ngModel>
            </td>
          </tr>
          <tr>
              <td>
                Friday
              </td>
              <td>
                <input type="text" id="txtFriday" name="txtFriday" #txtFriday ngModel>
              </td>
            </tr>
            <tr>
                <td>
                  Saturday
                </td>
                <td>
                  <input type="text" id="txtSaturday" name="txtSaturday" #txtSaturday ngModel>
                </td>
              </tr>
              <tr>
                  <td>
                      <button (click)="gotoBack()" >
                          Back
                        </button>
                  </td>
                  <td>
                      <button type="submit">
                        Save
                      </button>
                  </td>
                </tr>

</table>
</form>
