<table width="100%">
  <tr>
    <td colspan="4">
      <select (change)="onEmployeeChange(ddlEmployees)" name="ddlEmployees"
      id="ddlEmployees"
      #ddlEmployees>
      <option [value]="item.id"
      [selected]="item.id === selectedEmployee.id"
      *ngFor="let item of employees" >
        {{item.name}}
      </option>
    </select>
    </td>
    <td colspan="4">
      <button (click)="navigateToAddTask()" >
        Add
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <table width="100%" cellpadding="3" border="1">
        <tr>
          <th>
            Task Name
          </th>
          <th>
            Sunday
          </th>
          <th>
            Monday
          </th>
          <th>
            Tuesday
          </th>
          <th>
            Wednseday
          </th>
          <th>
            Thursday
          </th>
          <th>
            Friday
          </th>
          <th>
            Saturday
          </th>
        </tr>
        <tr *ngFor="let item of (tasks | async)">
          <td>
            {{item.employeeTask.name}}
          </td>
          <td>
            {{item.sunday}}
          </td>
          <td>
              {{item.monday}}
            </td>
            <td>
                {{item.tuesday}}
              </td>
              <td>
                  {{item.wednesday}}
                </td>
                <td>
                    {{item.thursday}}
                  </td>
                  <td>
                      {{item.friday}}
                    </td>
                    <td>
                        {{item.saturday}}
                      </td>
        </tr>
        <tr>
            <th>
              Total
            </th>
            <th>
              {{sundayTotal}}
            </th>
            <th>
              {{mondayTotal}}
            </th>
            <th>
              {{tuesdayTotal}}
            </th>
            <th>
              {{wednesdayTotal}}
            </th>
            <th>
              {{thursdayTotal}}
            </th>
            <th>
              {{fridayTotal}}
            </th>
            <th>
              {{saturdayTotal}}
            </th>
          </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="7" align="right">
      <button (click)="navigateToEmployees()" >
        Back to list
      </button>
    </td>
    <td>
    </td>
  </tr>
</table>
